<header class="header">
  <div class="container-md">
    <nav class="navbar">
      <h1 class="heading-md">Tu Nombre</h1>
      <ul class="navbar--links list-style-none">
        <li>
          <a href="article.html" class="link text-md">Articles</a>
        </li>
        <li>
          <a href="#" class="link text-md">Portafolio</a>
        </li>
        <li>
          <a href="#" class="link text-md">About</a>
        </li>
        <li>
          <a
            href="#"
            type="button"
            class="button button--primary button--sm text-decoration-none"
            >contact me</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
