.form {
    background-color: var(--gray-100);
}

.subtitulo{
    font-size: 18px;
  font-weight: 300;
  text-align: center;
  content: normal;
}

.form-grid-contact {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
}


.form-grid-item {
    display: grid;
    gap: 2px;
    grid-template-rows: repeat(auto-fill, minmax(12px, 20px));
    text-transform: uppercase;
}

.border-radius-form{
    border-radius: 6px;
}
.form-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

.form-auto-fill{
    max-height: 54px;
    max-width: 992px;
    min-width: 343px;
    
}

.form-tipografy{
    font-family: var(--font-primary);
}
