
  .flex-ul-2 {
    display: flex;
    justify-content: end;
  }
  
  .ul-li-2 {
    list-style: none;
  }
  
    .ancor-2 {
    width: 50px;
    height: 50px;
    background-color: #F3F4F6;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 6.5px;
    display: block;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
   .icon-l-2 {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }

  .icon-m-2 {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .ul-li-2 a:hover .icon-l-2 {
    color: #fff;
    transform: rotateY(360deg);
  }

  .ul-li-2 a:hover .icon-m-2 {
    color: #1ed760;
    transform: rotateY(360deg);
  }
  
  .ul-li-2 a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .ul-li-2 a:hover:before {
    top: 0;
  }
  
  .ul-li-2:nth-child(1) a:before{
    background: #F3F4F6;
  }
  
  .ul-li-2:nth-child(2) a:before{
    background: #F3F4F6;
  }
  
  .ul-li-2:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .ul-li-2:nth-child(4) a:before {
    background: #fff;
  }

  .ppd-40-gr {
    padding-inline-start: 0px;
  }

  .bg-icon{
    background: #fff;
  }

.flex_none{
    display: block;
    float:right; 
} 

.icono-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr;
}

.item1 {
    max-width: 1280px;
    padding: 0 16px;
    margin: auto;
  
}
