body {
    margin: 0;
    padding:0;
    background: #262626;
  }
  
  .flex-ul {
    display: flex;
    justify-content: end;
    /* position: absolute;

    left: 80%;
    transform: translate(-50%, -50%); */
  }
  
  .ul-li {
    list-style: none;
  }
  
  .ancor {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 6.5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  
   .icon-l {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }

  .icon-m {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  .ul-li a:hover .icon-l {
    color: #fff;
    transform: rotateY(360deg);
  }

  .ul-li a:hover .icon-m {
    color: #1ed760;
    transform: rotateY(360deg);
  }
  
  .ul-li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .ul-li a:hover:before {
    top: 0;
  }
  
  .ul-li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .ul-li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .ul-li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .ul-li:nth-child(4) a:before {
    background: #1e3050;
  }

  .ul-li:nth-child(5) a:before {
    background: #E4405F;
  }

  .ul-li:nth-child(6) a:before {
    background: #191414;
  }

  .font-family {
    font-family: none;
  }